{% extends "base.html.twig" %}

{% block title %}Atualizar produto - {% endblock %}

{% block body %}

<h1>Atualizar produto <small>{{produto.nome}}</small> </h1>

{% include "produto/_form.html.twig" %}

{% endblock %}